@import '/src/styles/variables';

.top-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 12px;
  margin-bottom: 60px;

  &-title {
    color: var(--color-G60);
    font-size: 48px;
    line-height: 84px;
  }

  &-subtitle {
    color: rgba(255, 255, 255, 0.90);
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.657px;
  }

  &-button {
    margin-top: 36px;
  }
}
