@import '/src/styles/variables';

.home-section-projects {
  display: flex;
  flex-direction: column;

  .header {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 32px;

    @include breakpoint-desktop {
      margin-bottom: 48px;
    }

    &-rings {
      position: absolute;
    }

    &-titles {
      font-family: var(--ff-graphik);
      display: flex;
      flex-direction: column;
      gap: 12px;
      text-align: center;
      flex-grow: 1;
    }

    &-title {
      color: var(--color-G60);
      font-weight: 600;

      @include breakpoint-tablet {
        font-size: 32px;
        line-height: 36px;
      }

      @include breakpoint-desktop {
        font-size: 48px;
        line-height: normal;
      }
    }

    &-subtitle {
      color: var(--color-G70);
      font-size: 20px;
      line-height: 32px;
      letter-spacing: -0.657px;
    }
  }

  .footer {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 25px;

    &-rings {
      position: absolute;
      right: 50px;
    }
  }
}
