.button {
  display: flex;
  width: 164px;
  height: 54px;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid var(--color-G60);
  border-radius: 4px;
  transition: 250ms;
  color: var(--color-G60);

  &:hover {
    background-color: var(--color-G60);
    color: var(--color-G100);
  }

  &.secondary {
    border-color: var(--color-B80);
    color: var(--color-B80);

    &:hover {
      background-color: var(--color-B80);
      color: var(--color-L100);
    }
  }

  &.submit {
    border-color: var(--color-D30);
    background-color: var(--color-L60);
    color: var(--color-D60);

    &:hover {
      background-color: var(--color-B80);
      color: var(--color-L100);
    }
  }
}
