@import '/src/styles/variables';

.home-section {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &-top {
    height: 100vh;
    max-height: 690px;
    min-height: 590px;
    background-image: url('/src/assets/header_background.png'), url('/src/assets/header.png');

    @include breakpoint-tablet {
      min-height: 700px;
      max-height: 873px;
    }
  }

  &-services {
    background-image: url('/src/assets/service_section_bg.png');
    padding-block: 48px;
    justify-content: flex-start;

    @include breakpoint-desktop-hd {
      padding-block: 48px 87px;
    }
  }

  &-about-us {
    background-image: url('/src/assets/about_us_bg.png');
    padding-block: 48px;

    @include breakpoint-desktop {
      padding-block: 21px 160px;
    }
  }

  &-partners {
    overflow: hidden;
    position: relative;
    background-image: url('/src/assets/partners_bg.png');
    padding-block: 32px;

    @include breakpoint-tablet {
      padding-block: 48px 32px;
    }
  }

  &-logo {
    background-color: var(--color-D30);
    padding-block: 24px;

    @include breakpoint-desktop {
      padding-block: 48px;
    }
  }

  &-projects {
    background-image: url('/src/assets/projects_bg.png');
    padding-block: 48px;

    @include breakpoint-desktop {
      padding-block: 60px;
    }
  }
}
