@import '/src/styles/variables';

.about-us {
  .header {
    @include breakpoint-desktop {
      margin-left: 552px;
    }

    @include breakpoint-desktop-hd {
      margin-left: 480px;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 48px;
    color: var(--color-G70);

    @include breakpoint-desktop {
      flex-direction: row;
      gap: 72px;
      padding-top: 28px;
    }

    &-title {
      font-weight: bold;
      font-size: 32px;
      line-height: 36px;

      @include breakpoint-desktop {
        font-size: 48px;
        line-height: 70px;
      }
    }

    &-description {
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.657px;
      margin: 24px 0;

      @include breakpoint-tablet {
        font-size: 20px;
        line-height: 32px;
      }
    }

    .dots {
      position: absolute;
      right: 30px;
      bottom: -53px;

      @include breakpoint-desktop {
        right: -57px;
      }
    }

    &-rings {
      position: absolute;
      right: 20px;
      bottom: -40px;

      @include breakpoint-tablet {
        right: 48px;
        bottom: -3px;
      }

      @include breakpoint-desktop {
        right: 70px;
        bottom: -120px;
      }

      @include breakpoint-desktop-hd {
        right: 171px;
        bottom: -100px;
      }
    }
  }

  .main-image-container {
    border-radius: 12px;
    padding: 2px;
    background: linear-gradient(90deg, rgba(241,209,90,1) 0%, rgba(142,118,29,1) 100%);
  }

  .main-img {
    position: relative;
    display: flex;
    width: 100%;
    height: 351px;
    background-image: url("./assets/us.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 12px;
    overflow: hidden;
    padding: 2px;
    z-index: 10;

    @include breakpoint-tablet {
      height: 403px;
    }

    @include breakpoint-desktop {
      background-position: right center;
      width: 493px;
    }

    @include breakpoint-desktop-hd {
      width: 600px;
    }

    img {
      border-radius: 12px;
    }
  }

  .dots-img {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    position: absolute;
    inset: auto 2px -30px auto;

    @include breakpoint-tablet {
      right: 45px;
    }

    @include breakpoint-desktop {
      position: relative;
      inset: auto -55px 33px auto;
    }

    img {
      width: 284px;
    }
  }
}
