@import '/src/styles/variables';

.nav {
  --common-gap: 20px;
  display: flex;
  justify-content: flex-end;
  gap: var(--common-gap);

  @include breakpoint-desktop {
    --common-gap: 20px;
  }

  @include breakpoint-desktop-hd {
    padding-left: 40px;
    padding-right: 40px;
  }

  &-burger {
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
    transition: opacity 350ms;

    &:hover {
      opacity: .7;
    }

    &-line {
      width: 20px;
      height: 2px;
      background-color: var(--color-L100);
    }
  }

  &-list {
    list-style: none;
    display: flex;
    gap: var(--common-gap);
    color: var(--color-L100);

    &-item {
      display: flex;


      &-link {
        color: var(--color-L40);
        text-decoration: none;
        padding: 9px 12px;
        border-radius: 12px;
        transition: 250ms;
        cursor: pointer;
        border: 1px solid transparent;

        &:hover {
          border-color: var(--color-G60);
        }

        &.active  {
          border-color: var(--color-G60);
        }
      }
    }
  }

  &-mobile {
    background-image: url("/src/assets/burger_bg.png");
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .nav-list {
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &-item {
      }
    }
  }
}

.languages {
  display: flex;
  color: var(--color-L100);
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: opacity 250ms;

  &:hover {
    opacity: .7;
  }
}

.nav-modal {
  .modal-content {
    background-image: url("/src/assets/burger_bg.png");
    display: flex;
    align-items: center;
  }

  .nav {
    &-list {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}
