@import '/src/styles/variables';

.about-us-section-main {
  text-align: center;
  color: var(--color-B100);
  gap: 24px;

  .description {
    @include breakpoint-desktop {
      padding: 0 120px;
    }
  }

  .dots {
    width: 248px;
    height: 85px;

    @include breakpoint-tablet {
      margin-left: 90px;
    }

    @include breakpoint-desktop {
      margin: 0;
    }
  }

  .rings {
   align-self: flex-end;
  }
}
