@import '/src/styles/variables';

.about-us-section-team {
  gap: 24px;
  text-align: center;
  color: var(--color-G60);

  .images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 60px;

    .dots {
      display: flex;
    }
  }
}
