@import '/src/styles/variables';

.about-us-section-team {
  gap: 24px;
  text-align: center;
  color: var(--color-G60);

  .images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 60px;

    .dots {
      display: flex;
    }
  }

  .title {
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;

    @include breakpoint-desktop {
      font-size: 48px;
      line-height: 70px;
    }
  }

  .description {
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.657px;
  }
}
