@import '/src/styles/variables';

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;

  &-light {
    background-color: transparent;
  }

  &-dark {
    background-color: #19191B;
  }

  & &-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 24px 60px;
  }

  &-logo {
    .logo-text {
      display: none;

      @include breakpoint-from(452px) {
        display: block;
      }
    }
  }
}
