@import '/src/styles/variables';

.section-footer {
  background-color: var(--color-D100);
  padding-block: 48px;

  &-container {
    margin: 0;
    padding: 0;
    gap: 24px;

    @include breakpoint-tablet {
      display: flex;
      flex-wrap: wrap;
    }

    @include breakpoint-desktop {
      display: grid;
      grid-template-columns: 1.5fr 1fr 1.5fr;
      gap: 24px;
    }

    @include breakpoint-desktop-hd {
      grid-template-columns: repeat(3, 1fr);
    }

    &-item {
      flex: 1;

      @include breakpoint-tablet {
        &:first-child {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex: 0 0 100%;
        }
      }

      @include breakpoint-desktop {
        &:first-child {
          display: initial;
        }
      }

      &-title {
        text-transform: uppercase;
        margin-bottom: 24px;
      }

      &-list {
        display: flex;
        flex-direction: column;
        gap: 16px;

        &-item {
          display: flex;
          align-items: center;
          height: 36px;

          a {
            text-decoration: none;
            color: #EAECF0;
            transition: color 150ms;

            &:hover {
              color: var(--color-G60);
            }
          }
        }
      }
    }
  }

  .social {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;

    @include breakpoint-desktop {
      margin-top: 48px;
    }

    &-link {
      transition: opacity 150ms;

      &:hover {
        opacity: .7;
      }
    }
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &-item {
      display: flex;
      align-items: center;
      gap: 16px;
      transition: color, opacity 150ms;

      &-link {
        display: flex;
        align-items: center;
        gap: 16px;
        text-decoration: none;
        color: var(--color-L50);
      }

      &.extend:hover {
        .contacts-list-item-link {
          color: var(--color-G60);
        }

        .contacts-list-item-img {
          opacity: .7;
        }
      }
    }
  }
}
