@import '/src/styles/variables';

.section-footer {
  background-color: var(--color-D100);
  padding-block: 24px;
  overflow: unset;

  @include breakpoint-tablet {
    padding-block: 48px;
  }

  &-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 24px;

    @include breakpoint-tablet {
      flex-direction: row;
      flex-wrap: wrap;
    }

    @include breakpoint-desktop {
      display: grid;
      grid-template-columns: 1.5fr 1fr 1.5fr;
      align-items: start;
      gap: 24px;
    }

    @include breakpoint-desktop-hd {
      grid-template-columns: repeat(3, 1fr);
    }

    &-item {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 12px;

      @include breakpoint-tablet {
       display: initial;

        &:first-child {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-start;
          flex: 0 0 100%;
        }
      }

      @include breakpoint-desktop {
        &:first-child {
          display: initial;
        }
      }

      &-title {
        text-transform: uppercase;
        margin-bottom: 12px;
        font-size: 18px;
        font-weight: 500;

        @include breakpoint-tablet {
          margin-bottom: 24px;
        }
      }

      &-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        line-height: 36px;
        font-weight: 500;

        @include breakpoint-tablet {
          align-items: flex-start;
        }

        &-item {
          display: flex;
          align-items: center;

          @include breakpoint-tablet {
            height: 36px;
          }

          a {
            text-decoration: none;
            color: var(--color-L50);
            transition: color 150ms;

            &:hover {
              color: var(--color-G60);
            }
          }
        }
      }
    }
  }

  .social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    @include breakpoint-desktop {
      margin-top: 48px;
      justify-content: flex-start;
      align-items: flex-start;
    }

    &-link {
      transition: opacity 150ms;

      &:hover {
        opacity: .7;
      }
    }
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    text-align: center;

    @include breakpoint-tablet {
      text-align: left;
      align-items: flex-start;
    }

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;
      transition: color, opacity 150ms;

      @include breakpoint-tablet {
        flex-direction: row;
      }

      &-link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
        text-decoration: none;
        color: var(--color-L50);
        width: 100%;

        @include breakpoint-tablet {
          flex-direction: row;
        }
      }

      &.extend:hover {
        .contacts-list-item-link {
          color: var(--color-G60);
        }

        .contacts-list-item-img {
          opacity: .7;
        }
      }
    }
  }
}
