@import '/src/styles/variables';

.services-header {
  &-titles {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
    position: relative;

    @include breakpoint-desktop {
      position: unset;
    }

    @include breakpoint-desktop-hd {
      flex-direction: row;
      justify-content: center;
      height: 96px;
    }

    .dots {
      position: absolute;
      left: 32px;

      @include breakpoint-desktop-hd {
        left: 60px;
      }
    }
  }

  &-rings {
    align-self: flex-end;
    display: flex;
    align-items: center;
    position: absolute;
    top: -20px;
    right: 80px;

    @include breakpoint-mobile {
      top: -45px;
      right: 0;
    }

    @include breakpoint-desktop {
      height: 100px;
      position: unset;
    }

    @include breakpoint-desktop-hd {
      align-self: center;
    }
  }

  &-title {
    font-weight: bold;
    font-size: 32px;
    line-height: 36px;
    color: var(--color-D100);
    flex-grow: 1;
    text-align: center;

    @include breakpoint-desktop {
      font-size: 48px;
      line-height: 70px;
    }
  }

  &-subtitle {
    color: var(--color-D60);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.657px;
    text-align: center;
    margin-top: 24px;

    @include breakpoint-desktop {
      font-size: 20px;
      line-height: 32px;
    }
  }
}
