@import '/src/styles/variables';

.services-header {
  &-img {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
    position: relative;

    @include breakpoint-desktop {
      background-image: url("/src/module/Home/sections/ServicesSection/assets/dots.png");
      background-repeat: no-repeat;
      position: unset;
    }

    @include breakpoint-desktop-hd {
      flex-direction: row;
      justify-content: center;
      height: 96px;
    }
  }

  &-rings {
    align-self: flex-end;
    display: flex;
    align-items: center;
    position: absolute;
    top: -20px;
    right: 80px;

    @include breakpoint-desktop {
      height: 100px;
      position: unset;
    }

    @include breakpoint-desktop-hd {
      align-self: center;
    }
  }

  &-title {
    font-weight: bold;
    font-size: 48px;
    color: var(--color-D100);
    line-height: 70px;
    flex-grow: 1;
    text-align: center;

    @include breakpoint-tablet {
      font-size: 32px;
      line-height: 36px;
    }

    @include breakpoint-desktop {
      font-size: 48px;
      line-height: 70px;
    }
  }

  &-subtitle {
    color: var(--color-D60);
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.657px;
    text-align: center;
    margin-top: 24px;
  }
}
