@import '/src/styles/variables';

.about-us-section {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &-main {
    padding: 48px 24px 12px;

    @include breakpoint-desktop {
      padding: 52px 60px 32px;
    }

    &:before {
      content: "";
      background-image: url('/src/assets/service_section_bg.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      position: absolute;
      width: 100%;
      height: 100%;
      inset: 0 auto auto 0;
      rotate: 180deg;
      z-index: -1;
    }
  }

  &-team {
    background-image: url('/src/assets/about_us_bg.png');
    padding: 48px 24px;

    @include breakpoint-desktop {
      padding: 80px 120px;
    }
  }

  &-team-member {
    margin: -1px 0;
    padding: 100px 24px 24px;

    @include breakpoint-tablet {
      padding-top: 48px;
      padding-bottom: 125px;
    }

    @include breakpoint-desktop {
      padding-left: 32px;
      padding-right: 32px;
    }

    @include breakpoint-desktop-hd {
      padding-left: 60px;
      padding-right: 60px;
    }

    &:before {
      content: "";
      background-image: url('/src/assets/about_us_bg.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      position: absolute;
      width: 100%;
      height: 100%;
      inset: 0 auto auto 0;
      z-index: -1;
    }

    &.left {
      &:before {
        transform: scale(1, -1);
      }
    }

    &.right {
      &:before {
        transform: scale(1, 1);
      }
    }
  }

  &-form {
    padding-block: 12px;

    @include breakpoint-tablet {
      padding-block: 80px;
    }

    &:before {
      content: "";
      background-image: url('/src/assets/service_section_bg.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center right;
      position: absolute;
      width: 100%;
      height: 100%;
      inset: 0 auto auto 0;
      rotate: 180deg;
      z-index: -1;
      transform: scale(-1, 1);

      @include breakpoint-tablet {
        background-position: center;
      }
    }
  }
}
