@import '/src/styles/variables';

.section-copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--color-G60);
  color: var(--color-D100);
  padding-block: 24px;

  .policy {
    display: flex;
    gap: 32px;
    color: var(--color-D60);
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
  }
}
