@import '/src/styles/variables';

$width: 200px;

.home-section-partners {
  &-row {
    display: flex;
    flex-direction: column-reverse;
    gap: 80px;

    @include breakpoint-desktop {
      flex-direction: row;
      align-items: flex-start;
      gap: 120px;
    }
  }

  &-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex: 1;
    gap: 16px;
  }

  .title {
    font-weight: bold;
    color: var(--color-D100);
    font-size: 32px;
    line-height: 36px;

    @include breakpoint-desktop {
      font-size: 48px;
      line-height: 70px;
    }
  }

  .description {
    font-size: 16px;
    line-height: 24px;
    color: var(--color-D30);
    letter-spacing: -0.657px;

    @include breakpoint-tablet {
      font-size: 20px;
      line-height: 32px;
    }
  }

  .img-container {
    position: relative;

    .main {
      border-radius: 12px;
      height: 311px;
      width: 100%;
      border: 2px solid var(--color-B20);
      background-image: url("./assets/partners.jpeg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      @include breakpoint-tablet {
        height: 400px;
      }

      @include breakpoint-desktop {
        width: 513px;
      }

      @include breakpoint-desktop-hd {
        width: 594px;
      }
    }

    .secondary {
      position: absolute;
      inset: auto auto -40px 13px;
      width: 180px;
      height: 160px;

      @include breakpoint-tablet {
        inset: auto auto -50px 30px;
      }

      @include breakpoint-desktop {
        inset: auto auto -45px -60px;
      }

      @include breakpoint-desktop-hd {
        width: $width;
        height: 185px;
        inset: 50% auto auto calc(($width / 2) * -1);
        transform: translateY(-50%);
      }
    }
  }

  .dots {
    margin: 8px 0 0 220px;
    width: 284px;
    position: relative;
    bottom: -40px;

    @include breakpoint-desktop-hd {
      position: unset;
    }
  }
}
